<div class="home-parent" layout="column" layout-align="center center" layout-fill>
  <div class="home-center-card" layout-padding layout="column" layout-align="space-around center">
    <h1 class="home-center-text animate-typing" flex="10">
        Nilarnab Mookherjee
    </h1>
    <img src="../images/angular.svg" flex="50">
    <div layout="row">
      <md-button class="md-raised md-primary">About</md-button>
      <md-button class="md-raised md-primary">Experiments</md-button>
      <md-button class="md-raised md-primary">Tutorials</md-button>
    </div>
  </div>
</div>